#login-container {
    background: #f4f6f6;
    border: 2px solid #ccc;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 55px;
    min-height: 345px;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.h1_register {
    text-align: center;
    color: #09b511;
    margin-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.form_error {
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    border: 2px solid red;
    background: #fee8e8;
    padding: 5px 10px;
}
.my_error {
    color: red;
    text-align: center;
    font-size: 20px;
}
.table_register {
    margin: 10px auto;
    width: 80%;
}
.table_register tr {
	margin: 0;
}
.table_register td {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.table_register input[type="text"], .table_register input[type="password"] {
    padding: 10px;
	margin: 7px 0;
	width: 100%;
	border: 0;
}
.form_register {
    text-align: center;
}
.table_register span {
    display: block;
}
.td_label {
    width: 25%;
    text-align: right;
}
.td_input {
    width: 75%;
}
.td_error {
    padding-bottom: 10px;
}

.input_username {
	padding: 10px;
	margin: 7px 0;
	width: 100%;
	border: 0;
}
.singleid-hint {
	font-size: 20px;
    position: absolute;
    top: 15px;
    right: -25px;
    color: #2196F3;
    cursor: pointer;
}
.btn_submit {
	margin-top: 10px;
}
.div-login {
	margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}